

.movieList {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    align-items: center;
}

.movieItem {
    flex: 1 1 300px; 
    max-width: 300px; 
    text-align: center; 
}

.movieItem img {
    width: 100%; 
    max-width: 200px;
    height: auto; 
    border-radius: 10px;   
}
.movieItem h3 {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}
